@font-face {
	font-family: Maven;
	src: url("./fonts/MavenPro-Medium.ttf");
}
* {
	font-family: Maven;
	box-sizing: border-box;
}
h1 {
		color: rgba(0, 0, 255, 0.7);
}
.container {
	border-radius: 50px;
	box-shadow: 5px 5px 5px grey, -5px -5px 5px grey;
	height: 80%;
	width: 100%;
	margin-top: 3em;
	padding: 5px;
	border: 5px solid black;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: column;
}
.container h1 {
		color: rgba(255, 25, 25, 0.7);
}
.container input {
	height: 5em;
	width: 20em;
	padding: 20px;
	border-radius: 150px;
	margin-top: 2em;
}
.container input:focus {
	background-color: rgba(0, 30, 255, 0.4);
	color: white;
	
}
.container input[type="submit"] {
	height: 5em;
	width: 10em;
	padding: 20px;
	border-radius: 150px;
	background-color: green;
	border: 5px solid green;
	color: white;
	margin-top: 2em;
	cursor: pointer;
}
.container textarea {
	margin-top: 2em;
	height: 10em;
	width: 20em;
	padding: 20px;
	
}
label {
		font-size: 1.5em;
		
	}
@media screen and (min-width: 1000px) {
	.container {
		width: 50em;
		height: 50em;
	}
	
}