@font-face {
	font-family: Maven;
	src: url("./fonts/MavenPro-Medium.ttf");
}
* {
	font-family: Maven;
	box-sizing: border-box;
}
body {

}
a {
	text-decoration: none;
}
a:visited {

}
.container, .container2 {
	background-color: #5347c2;
	padding: 3em 1em 3em 1em;
	width: 100%;
    margin: 0 auto;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	color: white;
	align-items: center;
}
.projects, .skills {
	display: flex;
	flex-direction: row;
	background-color: transparent;
	
}
.projects .project, .skills .skill {
width: 30%;
height: auto;
margin-left: 1em;
}
.project a {
	color: black;
}
@media screen and (max-width: 780px) {
	.projects, .skills {
		display: flex;
		flex-direction: column;
	}
	.projects .project, .skills .skill {
	width: 100%;
	height: auto;
	margin-bottom: 1em;
	}
}
.projects .project h2, .skills .skill h2 {
	font-size: larger;
	font-weight: 500;
}
.projects .project img, .skills .skill img {
	width: 100%;
	height: auto;
}
.container2 {
	background-color: transparent;
	color: black;
}
.container .logo {
	width: 18em;
	height: 18em;
	border-radius: 150em;
}
.container h1, .container2 h1 {
font-family: Maven;
font-size: 2.5em;
}
.container ul {
	list-style: none;
	margin: 0;
}
.container ul li {
	margin-bottom: 5%;
	background-color: white;
	border-radius: 150px;
	padding: 1.7em;
	color: black;
	width: 100%;
	margin-right: 5%;
}
.container ul li a {
	color: black;
}

.button {
	background-color: #72b1f8;
	border-radius: 0.3em;
	padding: 1em;
	text-decoration: none;
	border-color: #00000000;
	cursor: pointer;
	width: 35%;
	margin-top: 1em;
	font-size: 1em;
	color: white;
}
.button:hover {
	background-color: #538ed1;
}
@media screen and (max-width: 680px) {
	.button {
		width: 70%;
	}
}
.nav {
	width: 100%;
	position: fixed;
	top: 0;
	margin: 0 0 3em 0;
	left: 0;
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
    padding: 2em;
	box-shadow: 5px 5px 7px black;
	background-color: white;
	z-index: 5;
	overflow: hidden;
}
.nav li {
margin-right: 1em;
}
.nav abbr {
	font-size: 0.9em;
	position: relative;
	top: 0;
	left: -50%;
	margin-top: -1em;
	margin-bottom: -1em;
	background-color: cornflowerblue;
	text-decoration: none;
	border-radius: 150px;
	color:white;
	padding: 1em;
	text-decoration: none;
}

.nav li a {
	text-decoration: none;
	border-radius: 150px;
	color:black;
	padding: 1em;
	width: 20%;
	transition: all 0.5s;
}
.nav li a:hover {
background-color: cornflowerblue;
color: white;
}
.nav img {
	display: none;
}
#bars {
	display: none;
}
@media screen and (max-width: 780px) {
	.nav {
		height: 100%;
		position: fixed;
		top: 0;
		margin: 0 0 0 0;
		left: 0;
		list-style: none;
		display: none;
		padding: 1em;
		box-shadow: 5px 5px 7px black;
		background-color: white;
		transition: all 0.6s;
		width: 70%;
		z-index: 5;
		overflow: scroll;
	}
	.nav img {
		display: block;
		float: right;
		cursor: pointer;
	
	}
	.nav li {
	margin-top: 4em;
	
	}
	.nav abbr {
		position: relative;
		top: 2%;
		left: 0;
	}
	.nav li a {
		width: 100vw;
	}
	#bars {
		background-color: cornflowerblue;
		padding: 1em;
		width: 4em;
		height: 4em;
		border-radius: 0.5em;
		display: flex;
		align-items: center;
		flex-direction: column;
		position: fixed;
		z-index: 5;
		cursor: pointer;
		margin-top: 5%;
	}
	#bars img {
		color: white;
		height: 2em;
		width: 2em;
	}
}
.nav li a.current {
background-color: cornflowerblue;
color: white;
}
footer {
	background-color: black;
	color: white;
	padding: 2.5em;
	margin-top: 1em;
	position: relative;
	width: 100vw;
	left: -0.5em;
	bottom: -0.5em;
	margin: 0;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
}
footer img {
	width: 3em;
	height: 3em;
	margin-right: 0.5em;
	color: white;
	fill: white;
}
footer .social {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.footer .social a {
	color: white;
}
a {
	text-decoration: none;
	color: white;
}