@font-face {
	font-family: Maven;
	src: url("./fonts/MavenPro-Medium.ttf");
}
* {
	font-family: Maven;
	box-sizing: border-box;
}
body {

}
.me {
	height: 15em;
	width: 15em;
	border-radius: 150px;
}
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	
}
.container #skills {
	flex-wrap: wrap;
	flex-direction: row;
	padding: 8em 3em 8em 3em;
    background-color: white;
	width: 90%;
}
.container #skills img {
	height: 8em;
	width: 8em;
}


.container .about {
	padding: 8em 3em 8em 3em;
	background-color: cyan;
	color: black;
	width: 90%;
	
}
.container .vision {
	padding: 8em 3em 8em 3em;
	width: 90%;
	background-color: white;
}
.container .mission {
	padding: 8em 3em 8em 3em;
	background-color: cyan;
	color: black;
	width: 90%;
}

.container #contact {
	position: relative;
	background-color: black;
	color: white;
	padding: 8em 3em 8em 3em;
		width: 100%;
		margin: 0;
		left: 0;
		bottom: 0;
		
}
.container #contact h1 {
	color: white;
}
.container #con_container a i {
	font-size: 2em;
	color: white;
}
.container div h1 {
	color: rgba(0, 0, 255, 0.7);
}
h1 {
	color: rgba(255, 0, 25, 0.9);
	
}
.container #hire {
	padding: 8em 3em 8em 3em;
	background-color: cyan;
	width: 90%;
	color: black;
}
.container #hire button {
	width: 10em;
	height: 60px;
	border-radius: 150px;
	border: 5px solid green;
	background-color: green;
	color: white;
	cursor: pointer;
	transition: background-color 0.5s;
}
.container #hire button:hover {
	background-color: transparent;
	color: black;
}
.container #contact button {
	width: 8em;
	height: 50px;
	border-radius: 150px;
	border-color: transparent;
	background-color: rgba(0, 0, 255, 0.7);
	color: white;
	cursor: pointer;
	transition: background-color 0.5s;
}
.container #contact button:hover {
	background-color: rgba(255, 0, 0, 0.7);
}
.namec {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
.name {
	
}




