@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Poppins:wght@100;200;300;400&display=swap');

body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.intro-text {
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}